.LoginBox {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.LoginPage-Input {
    width: 30%;
    height: 35px;
    border-radius: 10px;
    border-width: 0px;
    background-color: #eeeeee;
    margin-bottom: 20px;
    font-family: Helvetica, serif;
    font-size: 15px;
}
.LoginButton {
    width: 20%;
    height: 30px;
    border-radius: 10px;
    border-width: 0px;
    background-color: #f5f5f5;
    font-size: 15px;
}
.Wave {
    position: fixed;
    height: 100%;
    left: 0;
    bottom: -20%;
    z-index: -1;
}