.main-page-container {
    display: flex;
    align-items: center;
    width: 50%;
}

.table-wrapper {
    width: 100%;
}

@media screen and (max-width: 900px) {
    .main-page-container {
        display: flex;
        align-items: center;
        margin-left: 100px;
    }
}